@font-face {
  font-family: 'Mouse Memoirs';
  src: url('../fonts/MouseMemoirs-Regular.ttf');
}

:root {
  --sm-screen: 640px;
  --md-screen: 768px;
  --lg-screen: 1024px;
  --xl-screen: 1280px;
  --xxl-screen: 1536px;
}

* {
  scrollbar-color: #344aba rgba(0, 20, 121, 0.8);
  scrollbar-width: thin;
}
body {
  position: relative;
  z-index: -3;
}

main {
  min-height: 100vh;
  background: url('../images/background-desktop.svg') no-repeat center/cover;
  font-family: 'Mouse Memoirs', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -2;
}

.intro {
  display: grid;
  place-items: center;
  height: 100%;
  padding: 0 20px;
  overflow: auto;
}
.intro > div {
  width: 100%;
  max-width: 600px;
  height: 450px;
  background: linear-gradient(to bottom, #344aba, rgba(0, 20, 121, 0.8));
  border-radius: 80px;
  box-shadow: inset 0 -10px 0 6px #140e66, inset 0 0 0 10px #2462ff;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  padding-bottom: 60px;
  margin-bottom: 20px;
}
.intro .play-btn {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #fe71fe, #7199ff);
  border: none;
  box-shadow: inset 0 -6px 0 6px #232f40, inset 0 -12px 0 12px #9e2cf5;
  position: relative;
}
.intro .play-btn svg {
  width: 60px;
}
.intro .play-btn::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s all ease-in-out;
}
.intro .play-btn:hover::after,
.intro .play-btn:active::after {
  cursor: pointer;
  background: #ffffff50;
}
.intro .instructions-btn {
  background: transparent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  background: #2462ff;
  font-size: 36px;
  border-radius: 50px;
  padding: 10px 60px;
  box-shadow: inset 0 -3px 0 3px #140e66, inset 0 0 0 5px #3d74ff;
  transition: 0.3s all ease-in-out;
}
.intro .instructions-btn:hover,
.intro .instructions-btn:active {
  background: #3d74ff;
  box-shadow: inset 0 -3px 0 3px #140e66, inset 0 0 0 5px #2462ff;
  cursor: pointer;
}
.intro img {
  margin: 20px 0 -80px 0;
  z-index: 2;
}

/* HOW TO PLAY */
.instructions {
  min-height: 100vh;
}
.instructions button {
  background: linear-gradient(to bottom, #fe71fe, #7199ff);
  border: none;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-left: 100px;
  position: absolute;
}
.instructions button svg {
  width: 30px;
  height: 30px;
}
.instructions div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instructions h1 {
  font-size: 136px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom, #67b6ff, #fff);
  position: relative;
  font-weight: 300;
  margin-inline: auto;
}
.instructions h1::before {
  content: attr(stroke-text);
  position: absolute;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 16px #243041;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .instructions h1 {
    font-size: 120px;
  }
  .instructions button {
    height: 60px;
    width: 60px;
    margin-left: 75px;
  }
  .instructions button svg {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .instructions h1 {
    font-size: 104px;
  }
  .instructions button {
    height: 45px;
    width: 45px;
    margin-left: 50px;
  }
  .instructions button svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 640px) {
  .instructions h1 {
    margin-inline: 0;
    margin-left: auto;
    margin-right: 50px;
    font-size: clamp(40px, 10vw, 64px);
  }
}
